{#{% extends '::base.html.twig' %}#}

{#{% block body -%}#}
    <h4>Image edit</h4>
    <div class="row-fluid">
        <div class="span1" style="margin-right: 5px;">
            {% set path = '/media/images/' ~ entity.path %}

            <img src="{{ path | apply_filter('main_200x180') }}"/>
        </div>
        <div>
            <form action="{{ path('image_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                <input type="hidden" name="_method" value="PUT" />
                {{ form_widget(edit_form) }}
                <p class="pull-right">
                    <button type="submit">Edit</button>
                </p>
            </form>
        </div>
    </div>
    <hr>


        {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('image') }}">#}
            {#Back to the list#}
        {#</a>#}
    {#</li>#}
    {#<li>#}
        {#<form action="{{ path('image_delete', { 'id': entity.id }) }}" method="post">#}
            {#<input type="hidden" name="_method" value="DELETE" />#}
            {#{{ form_widget(delete_form) }}#}
            {#<button type="submit">Delete</button>#}
        {#</form>#}
    {#</li>#}
{#</ul>#}
{#{% endblock %}#}
